.conversion {
  min-height: calc(100vh - 7rem);

  &__result-wrapper {
    @extend %card;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 5rem 0;
  }

  &__result {
    &-amount {

    }
  }

  &__equality {
    position: relative;
    font-weight: 900;
    padding: 2rem;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #888888;
    }

    p {
      background-color: #ffffff;
    }
  }
}

.conversion-form {
  .conversion-submit-btn {
    background-color: color(primary);

    &:hover {
      background-color: darken(color(primary), 5%);
    }
  }

  // Amount Input
  .ant-input-number {
    width: 100%;
  }
}
