.currency-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem-calc(16);
  margin-bottom: 0.5rem;
  background-color: color(white);
  border-radius: rem-calc(4);
  box-shadow: $shadow-mid;
  cursor: pointer;
  transition: $transition;

  &:hover {
    box-shadow: $shadow-small;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin-right: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__image-wrapper {
    margin-right: 1rem;
    position: relative;

    img {
      max-height: 2rem;
    }

    &:after {
      position: absolute;
      content: "";
      left: 0;
      padding-right: 3rem;
    }
  }

  &__caption {
    color: color(gray-a);
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__title,
  &__price {
    margin-bottom: 0;
    font-weight: bold;
    color: color(black);
  }

  &__title {
    letter-spacing: rem-calc(0.25);
  }

  &__numbers {
    text-align: right;
    display: flex;
    flex-direction: column;
  }

}
