.footer {
  position: fixed;
  bottom: 0;
  box-shadow: $shadow-inverse-small;
  display: flex;
  max-height: 3.5rem;
  width: 100%;

  @include breakpoint(tablet) {
    margin: 3.5rem 0;
    padding: 2rem 0 100vh 0;
    background-color: color(white);
    top: 0;
    left: 0;
    width: max-content;
    min-width: 5rem;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }
}
