.header {
  position: fixed;
  width: 100%;
  align-items: center;
  box-shadow: $shadow-small;
  display: flex;
  max-height: 3.5rem;
  padding: 1rem 0.75rem;
  background-color: color(white);
  z-index: 1;
  color: color(white);
  
  h1 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }
}
