.nav__item {
  background-color: color(white);
  color: color(gray-a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0.75rem;
  text-align: center;
  width: 25%;
  cursor: pointer;
  transform-origin: center;

  @include breakpoint(tablet) {
    width: max-content;
  }

  p {
    font-size: 0.6rem;
    margin: 0;
    margin-top: 0.125rem;
    text-transform: uppercase;
  }

  &:hover {
    // transform: scale(1.1);
  }

  &--active {
    @extend .nav__item;
    color: color(primary);
  }
}
