$shadow-small: 0 rem-calc(1) rem-calc(8) rgba(color(black), 0.1);
$shadow-inverse-small: 0 rem-calc(-1) rem-calc(8) rgba(color(black), 0.1);
$shadow-mid: 0 rem-calc(4) rem-calc(16) rgba(color(black), 0.1);
$shadow-inverse-mid: 0 rem-calc(-4) rem-calc(16) rgba(color(black), 0.1);
$shadow-large: 0 rem-calc(8) rem-calc(20) rgba(color(black), 0.1);
$shadow-inverse-large: 0 rem-calc(-8) rem-calc(20) rgba(color(black), 0.1);
