// ABSTRACT
@import "./styles/abstract/breakpoints";
@import "./styles/abstract/typography";
@import "./styles/abstract/colors";

// COMPONENTS
@import "./styles/components/header";
@import "./styles/components/nav-item.scss";
@import "./styles/components/tab.scss";
@import "./styles/components/card.scss";
@import "./styles/components/currency-card.scss";
@import "./styles/components/currency-conversion-card.scss";
@import "./styles/components/footer";
@import "./styles//components/conversion";

.main-wrapper {
  position: fixed;
  // top: 3.5rem;
  // height: 100vh;
  height: calc(100vh - 7rem);
  width: 100%;
  overflow-y: scroll;

  @include breakpoint(tablet) {
    padding-left: 5rem;
  }
}

.conversion-submit-btn {
  border: 0;
  background-color: $black;
}
